@import 'semantic-ui';

.icon-color {
    color: rgba(211, 192, 20, 1);
    background-color: cornsilk;
}

.chatbox {
    height: 450px;
}

.send-button {
    background-color: white;
    border-style: none;
}

.send-icon {
    font-size: large !important;
}

#content-overflow {
    height: 15em;
    overflow: overlay;
}